body, html {
	height: 100%;
width: 100%; 
margin: 0;
padding: 0;
}
.whitebox {
	background-color:white;
	height: 300px;
	width: 100%;
		 text-align: center;
}
.yellowbox {width: 100%; 
height: 125px;
 background-color: #F6E518;
}
.greenbox {width: 100%; 
height: 125px;
 background-color: #A2DA6E;
}
 .tealbox {width: 100%; 
height: 125px;
 background-color: #46E0B5;
 }
 .blueboxbig {width: 100%; 
height: 125px;
 background-color: #3C7BDA;
 }
 .greybox {width: 100%; 
height: 125px;
 background-color: #CFCFCF;
  position: relative;
 }
 .blueboxlittle {width: 100px; 
height: 100px;
 background-color: #3C7BDA;
  position: absolute;
 margin: 10px 0px 10px 30px;
 }
 p {
font-size: 30px; 
width: 80%;
margin: 75px auto;
}